################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/First/obj/Debug
/First/bin
/First.Tests/obj/Debug
/First.Tests/bin/Debug
/packages
